:root {
	--col-good: #57a83b;
	--col-bad: #9e3925;

	--col-bg-dark: #0d0c0a;
	--col-bg-panel: #151618;
	--col-text-header: #c1c1cf;
	--col-text-highlight: #e0d2d0;
	--col-text-accent: #c5b6b4;
	--col-text-default: #a6b3c4;
	--col-text-muted: #778da6;
	--col-text-good: color-mix(in srgb,
			var(--col-text-default) 80%,
			var(--col-good));
	--col-text-bad: color-mix(in srgb,
			var(--col-text-default) 80%,
			var(--col-bad));
	--col-shadow: rgba(0, 0, 0, 0.5);

	--col-border: #778da6;
	--col-border-good: color-mix(in srgb,
			var(--col-border) 60%,
			var(--col-good));
	--col-border-bad: color-mix(in srgb,
			var(--col-border) 60%,
			var(--col-bad));

	--col-bg-btn: var(--col-bg-panel);
	--col-bg-btn-hover: color-mix(in srgb,
			var(--col-bg-btn) 90%,
			white);

	--font-heading: 'Playfair Display SC', serif;
	--font-body: 'DM Serif Display', serif;
}