@import "./colors.css";
@import "./game-info.css";

:root {
	--col-tile-light: #272e3b;
	--col-tile-dark: #1d222b;
	--col-tile-border: #1d2831;
	--col-tile-highlight: #1d2831;
	--col-tile-highlight2: #204c45;

	--border-width: 2px;
	--grid-size: 8;
}

.game {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	@media (orientation: portrait) {
		--game-size: calc(min(100vw, 100dvh));
		--game-padding: 0px;

		flex-direction: column;
		align-items: flex-start;
	}

	@media (orientation: landscape) {
		--game-size: calc(min(100vw, 100dvh) - 80px);
		--game-padding: 20px;

		margin: 20px;
	}
}

.game-info {
	flex: 1;

	background-color: var(--col-bg-panel);
	border-radius: 8px;
	padding: 20px;

	@media (orientation: portrait) {
		width: var(--game-size);
		max-height: calc(100% - var(--game-size) - 50px);
	}

	@media (orientation: landscape) {
		height: var(--game-size);
	}
}

.game-board {
	width: var(--game-size);
	padding: var(--game-padding);

	aspect-ratio: 1 / 1;

	background-color: var(--col-bg-panel);
	border-radius: 8px;

	display: grid;
	grid-template-columns: repeat(var(--grid-size), 1fr);
	grid-template-rows: repeat(var(--grid-size), 1fr);

	/* Disable default gesture/dragging hints */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	user-select: none;
	touch-action: none;
}

.tile {
	display: flex;
	position: relative;
	aspect-ratio: 1 / 1;
	z-index: 1;

	transition: border-color 0.1s ease, background-color 0.1s ease;

	/* Disable default gesture/dragging hints */
	touch-action: none;
}

.tile-a {
	background-color: var(--col-tile-light);
	border: var(--border-width) solid var(--col-tile-light);
}

.tile-b {
	background-color: var(--col-tile-dark);
	border: var(--border-width) solid var(--col-tile-dark);
}

.tile.highlight-col {
	filter: brightness(1.1);
	border-left: var(--border-width) solid var(--col-tile-highlight);
	border-right: var(--border-width) solid var(--col-tile-highlight);
	z-index: 10;
}

.tile.highlight-row {
	filter: brightness(1.1);
	border-top: var(--border-width) solid var(--col-tile-highlight);
	border-bottom: var(--border-width) solid var(--col-tile-highlight);
	z-index: 10;
}

.tile.highlight {
	z-index: 100;
}

.tile.highlight::after {
	content: '';
	position: absolute;
	inset: -2px;
	pointer-events: none;
	background-color: inherit;
	border: var(--border-width) solid var(--col-tile-highlight2);
}

.tile.linger {
	filter: saturate(3);
}