@import "./colors.css";
@import "./credits.css";

:root {
	--col-tile-light: #272e3b;
	--col-tile-dark: #1d222b;
	--col-tile-border: #1d2831;
	--col-tile-highlight: #1d2831;
	--col-tile-highlight2: #204c45;

	--col-tile-house1: #73291b;
	--col-tile-house2: #9e3925;
	--col-tile-house3: #cf4a31;
	--col-tile-road1: #151533;
	--col-tile-road2: #222252;
	--col-tile-bridge: #182850;
	--col-tile-water: #1a4a71;
	--col-tile-grass: #2b6228;
	--col-tile-tree1: #40943d;

	--border-width: 2px;
	--grid-size: 8;
}

.game {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	@media (orientation: portrait) {
		--game-size: calc(min(100vw, 100dvh));
		--game-padding: 0px;

		flex-direction: column;
	}

	@media (orientation: landscape) {
		--game-size: calc(min(100vw, 100dvh) - 60px);
		--game-padding: 10px;

		flex-direction: row;
		margin: var(--game-padding);
	}
}

.game-info {
	flex: 1;

	background-color: var(--col-bg-panel);
	border-radius: 8px;
	padding: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;

	@media (orientation: portrait) {
		width: var(--game-size);
		/* max-height: calc(100% - var(--game-size) - 210px); */
	}

	@media (orientation: landscape) {
		max-width: calc(0.5 * var(--game-size));
		height: calc(var(--game-size) - 2 * var(--game-padding));
	}
}

.game-board {
	flex: 0;

	width: var(--game-size);
	height: var(--game-size);
	padding: var(--game-padding);

	aspect-ratio: 1 / 1;

	background-color: var(--col-bg-panel);
	border-radius: 8px;

	display: grid;
	grid-template-columns: repeat(var(--grid-size), 1fr);
	grid-template-rows: repeat(var(--grid-size), 1fr);

	/* Disable default gesture/dragging hints */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	user-select: none;
	touch-action: none;
}

.tile {
	display: flex;
	position: relative;
	aspect-ratio: 1 / 1;
	z-index: 1;

	/* Disable default gesture/dragging hints */
	touch-action: none;
}

.tile-a {
	background-color: var(--col-tile-light);
}

.tile-b {
	background-color: var(--col-tile-dark);
}

.tile.highlight-col {
	/* filter: brightness(1.1); */
	/* border-left: var(--border-width) solid var(--col-tile-highlight);
	border-right: var(--border-width) solid var(--col-tile-highlight); */
	/* z-index: 10; */
}

.tile.highlight-row {
	/* filter: brightness(1.1); */
	/* border-top: var(--border-width) solid var(--col-tile-highlight);
	border-bottom: var(--border-width) solid var(--col-tile-highlight); */
	/* z-index: 10; */
}

.tile.highlight {
	z-index: 100;
}

.tile.highlight::after {
	content: '';
	position: absolute;
	inset: -2px;
	pointer-events: none;
	background-color: inherit;
	border: var(--border-width) solid var(--col-tile-highlight2);
}

.tile[data-tile="House1"] {
	background-color: var(--col-tile-house1);
}
.tile[data-tile="House2"] {
	background-color: var(--col-tile-house2);
}
.tile[data-tile="House3"] {
	background-color: var(--col-tile-house3);
}

.tile[data-tile="Road"] {
	background-color: var(--col-tile-road1);
}
.tile[data-tile="Intersection"] {
	background-color: var(--col-tile-road2);
}
.tile[data-tile="Bridge"] {
	background-color: var(--col-tile-bridge);
}

.tile[data-tile="Water"] {
	background-color: var(--col-tile-water);
}
.tile[data-tile="Grass"] {
	background-color: var(--col-tile-grass);
}
.tile[data-tile="Tree"] {
	background-color: var(--col-tile-tree1);
}