@import "./colors.css";

:root {
	--col-tile-light: #272e3b;
	--col-tile-dark: #1d222b;
	--col-tile-border: #1d2831;
	--col-tile-highlight: #1d2831;
	--col-tile-highlight2: #204c45;

	--border-width: 2px;
	--grid-size: 8;
}

.game-board {
	width: calc(min(100vw, 100dvh) - 80px);
	aspect-ratio: 1 / 1;

	background-color: var(--col-bg-panel);
	border-radius: 8px;
	padding: 20px;

	display: grid;
	grid-template-columns: repeat(var(--grid-size), 1fr);
	grid-template-rows: repeat(var(--grid-size), 1fr);
}

.tile {
	display: flex;
	position: relative;
	aspect-ratio: 1 / 1;
	z-index: 1;

	transition: border-color 0.1s ease, background-color 0.1s ease;

	/* Disable dragging hints */
	-webkit-user-drag: none;
	user-select: none;
	-webkit-user-select: none;
}

.tile-a {
	background-color: var(--col-tile-light);
	border: var(--border-width) solid var(--col-tile-light);
}

.tile-b {
	background-color: var(--col-tile-dark);
	border: var(--border-width) solid var(--col-tile-dark);
}

.tile.highlight-col {
	filter: brightness(1.1);
	border-left: var(--border-width) solid var(--col-tile-highlight);
	border-right: var(--border-width) solid var(--col-tile-highlight);
	z-index: 10;
}

.tile.highlight-row {
	filter: brightness(1.1);
	border-top: var(--border-width) solid var(--col-tile-highlight);
	border-bottom: var(--border-width) solid var(--col-tile-highlight);
	z-index: 10;
}

.tile.highlight {
	z-index: 100;
}

.tile.highlight::after {
	content: '';
	position: absolute;
	inset: -2px;
	pointer-events: none;
	background-color: inherit;
	border: var(--border-width) solid var(--col-tile-highlight2);
}

.tile.linger {
	filter: saturate(3);
}